body{
    background-image: url(https://images.pexels.com/photos/322339/pexels-photo-322339.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size:cover
}

h1{
    color: aqua
}

.roller{
    color: aqua;
  
}

.fisher{ 
    color:aqua
}



